<div class="meta">
  Publicerad
  <time>
    <a href="{{ post.url }}">{{ post.published_at | relative_date }}</a>
    den {{ post.published_at 
      | local_date: "%-d %B %Y"
      | replace: "January", "januari" 
      | replace: "February", "februari"
      | replace: "March", "mars"
      | replace: "April", "april"
      | replace: "May", "maj"
      | replace: "June", "juni"
      | replace: "July", "juli"
      | replace: "August", "augusti"
      | replace: "September", "september"
      | replace: "October", "oktober"
      | replace: "November", "november"
      | replace: "December", "december"
      | downcase }}
    kl. {{ post.published_at | local_date: "%H:%M" }}
  </time>

  {% if request.template == 'post' and post.show_byline? %}
    <span class="author">
      av
      {% if post.author.url %}
        <a href="{{ post.author.url }}">{{ post.author.name }}</a>
      {% else %}
        {{ post.author.name }}
      {% endif %}
    </span>
  {% endif %}

  <span class="stat">
    &bullet; {{ post | view_count }}
  </span>
  <span class="measure">
    visningar
  </span>
</div>
