{% capture subhead_content %}
  <h2 class="archive-title">Arkiv</h2>
  <div class="archive-all-dates">{{ archive.all_dates_link }}</div>
{% endcapture %}

<div class="archive-container toggle-tabs">
  <div id="main" class="archive-results">
    
    <section class="search-archive">
      {% form 'archive' %}
    </section>

    <div class="archive-view">
      <a id="all-link" href="#all">Alla inlägg</a>
      <a id="date-link" href="#date">Bläddra efter datum</a>
    </div>

    <section id="archive-results-all" class="archive-list">
      <ul>
        {% archive_results date_format:'%e %B %Y' %}
        <li>
          <a href="{{ result.url }}">
            <time>{{ result.date 
              | replace: "January", "januari" 
              | replace: "February", "februari"
              | replace: "March", "mars"
              | replace: "April", "april"
              | replace: "May", "maj"
              | replace: "June", "juni"
              | replace: "July", "juli"
              | replace: "August", "augusti"
              | replace: "September", "september"
              | replace: "October", "oktober"
              | replace: "November", "november"
              | replace: "December", "december"
              | downcase }}
            </time>
            <h4><span>{{ result.title }}</span></h4>
          </a>
          <div class="search-highlight">
            {{ result.snippet }}
          </div>
        </li>
        {% endarchive_results %}
      </ul>

      <div class="archive-pagination">
        {{ archive.pagination }}
      </div>
    </section>

    <section id="archive-results-by-date" class="archive-by-date">
      <ul>
        {% archive_months date_format:'%B %Y' %}
          <li>
            <a href="{{ month.url }}">
              <h4>
                <span>{{ month.date 
                  | replace: "January", "januari" 
                  | replace: "February", "februari"
                  | replace: "March", "mars"
                  | replace: "April", "april"
                  | replace: "May", "maj"
                  | replace: "June", "juni"
                  | replace: "July", "juli"
                  | replace: "August", "augusti"
                  | replace: "September", "september"
                  | replace: "October", "oktober"
                  | replace: "November", "november"
                  | replace: "December", "december"
                  | downcase }}
                </span>
              </h4>
              <span class="count">{{ month.count }} inlägg</span>
            </a>
          </li>
        {% endarchive_months %}
      </ul>
    </section>

  </div>
</div>
